.insight-blog-card-img {
  max-width: 600px;
  max-height: 440px;
}

.industry-blog-card-title {
  color: black;
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: -1.25px;
}

.industry-blog-card-text {
  color: black;
  font-family: "Hanken Grotesk";
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

@media screen and (max-width: 992px) {
  .industry-blog-card-title {
    text-align: left;
    font-size: 30px;
    line-height: 30px;
  }
  .industry-blog-card-text {
    font-size: 16px;
    line-height: 24px;
  }
}
