.insight-blog-card-img {
  max-width: 600px;
  max-height: 440px;
}

.industry-blog-card-title {
  color: black;
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: -1.25px;
}

.industry-blog-card-text {
  color: black;
  font-family: "Hanken Grotesk";
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

@media screen and (max-width: 992px) {
  .industry-blog-card-title {
    text-align: left;
    font-size: 30px;
    line-height: 30px;
  }
  .industry-blog-card-text {
    font-size: 16px;
    line-height: 24px;
  }
  .insight-blog-card-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (min-width: 992px) {
  .insight-blog-card-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}


/* loadind card css */

.container {
  margin-top: 4em;
  margin-bottom: 4em;
}

.loading-skeleton {
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border-color: #eee;

  &::placeholder {
    color: transparent;
  }
}
@keyframes loading-skeleton {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;
  
  img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
  }
  h1, h2, h3, h4, h5, h6,
  p, li,
  .btn,
  label,
  .form-control {
    @extend %loading-skeleton;
  }
}