.talent-card-section-wrapper {
  background: linear-gradient(180deg, #6522ed 12.03%, #5912e4 100%);
}

.industry-feature-section-card-text {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.health-care-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: white;
}

@media screen and (min-width: 1200px) {
  .industry-bottom {
    bottom: -50% !important;
  }
  .industry-start {
    margin: 5rem;
    left: 50% !important;
  }
  .health-care-card-title {
    height: 200px;
  }
  .health-care-card-text {
    height: 150px;
  }
  .t-card-title {
    height: 100px;
  }
  .t-card-text {
    height: 150px;
  }
}

@media screen and (min-width: 1600px) {
  .industry-bottom {
    bottom: -40% !important;
  }
}

@media screen and (max-width: 768px) {
  .industry-hero-card {
    position: relative !important;
  }
  .service-hero-card-text {
    padding: 40px 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .industry-start {
    width: 800px;
    height: 550px;
    left: 20% !important;
  }
  .industry-bottom {
    bottom: -50% !important;
  }
}

@media (max-width: 540px) {
  .industry-feature-section-card-text {
    font-size: 16px !important;
  }
  .industry-feature-section-card-text {
    text-align: center;
  }
}
