.common-card-btn {
  background-color: #a1f157;
  color: #5912e4;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.4px;
  margin: 20px 0px;
}

.common-card-btn:hover {
  color: #a1f157;
  background-color: transparent;
  outline: solid #a1f157;
  transition: 0.3s ease-in-out;
}

.common-card-image {
  max-height: 600px !important;
  min-height: 600px;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.dynamic-content {
  color: #a1f157;
  font-weight: 700;
  padding: 10px;
  margin: 10px;
  letter-spacing: 1.4px;
  line-height: 24px;
  font-size: 14px;
  background: #5912e4;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  text-align: center;
}

.dynamic-content:hover {
  transition: all 0.5s ease-in-out;
  scale: 1.2;
  border-radius: 20px;
  cursor: pointer;
}

.custom-start {
  left: 40%;
}

.custom-start-2 {
  left: 10%;
}

.custom-top {
  top: 50%;
}

.icon-svg {
  fill: #5912e4;
}

.btn:hover .icon-svg {
  fill: #a1f157;
}

.custom-image {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/* Mobile Screens */

@media (max-width: 540px) {
  .common-card-image {
    max-height: 300px !important;
    min-height: 300px !important;
  }
  .custom-card-title {
    font-size: 24px !important;
  }
  .dynamic-content {
    margin: 20px;
  }
}

/* Tablets */

@media screen and (min-width: 541px) and (max-width: 991px) {
  .common-card-image {
    max-height: 400px !important;
    min-height: 400px;
  }
  .top-50 {
    top: 50% !important;
  }
  .card-title {
    text-align: left !important;
  }
}