.extra-custom-card-start {
  left: 10%;
}

.extra-custom-card-top {
  top: 50%;
}

.extra-custom-card-start-2 {
  left: 10%;
}

.extra-card-img {
  max-height: 600px !important;
  min-height: 600px;
  object-fit: fill;
  width: 100%;
  object-position: center;
}

@media screen and (max-width: 1024px) {

  .custom-card-title{
    font-size: 48px;
    line-height: 44px;
  }
}