.form-wrapper {
  background-color: #5912e4;
}

.form-heading {
  color: #a1f157;
  font-weight: 900;
  font-size: 5rem;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-weight: 900;
  font-size: 1rem;
  color: white;
}

.form-control:focus, .form-control:active {
  background: transparent;
  color: white;
  box-shadow: none;
  border-bottom: 3px solid #a1f157;
}

.form-control::placeholder {
  color: white !important;
  opacity: 1; 
}

.form-btn {
  background-color: #A1F157;
  color: #5912E4;
}

.form-btn:hover {
  color: #A1F157 !important;
  background-color: #5912E4 !important;
  outline: solid #A1F157 !important;
  transition: 0.3s ease-in-out !important;
}

.form-btn:hover .icon-svg {
  fill: #A1F157;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 991px){
  .form-heading {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
  }
}
