/* .navbar-expand-sm .navbar-collapse {
  justify-content: end;
  padding: 0px 10px;
}
.navbar-expand-sm .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: white !important;
}

.navbar {
  padding: 15px 15px !important;
  position: absolute;
  width: 100%;
  z-index: 999;
} */
