.hero-banner {
  background-color: #111827;
}

.hero-main-text {
  color: #a1f157;
}

.hero-end-text {
  color: #a1f157;
}

.hero-heading {
  margin-left: 5rem;
  margin-right: -30rem;
}

.col-3 {
  z-index: 999 !important;
}

.col-9 {
  z-index: 1;
}

.hero-btn {
  background-color: #5912e4;
  color: #a1f157;
  border-radius: 20px;
  margin-left: 5rem;
}

.hero-svg-icon {
  fill: #a1f157;
}

.hero-btn:hover {
  color: #5912e4;
  background-color: #a1f157;
}

.hero-btn:hover .hero-svg-icon {
  fill: #5912e4;
}
