#hero-home-img {
  background-color: #111827;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1096px;
}

.custom-hero-padding {
  margin-top: 315px;
}


.hero-header {
  font-size: 68px;
  font-weight: 250;
  line-height: 60px;
  letter-spacing: -1.7px;
}

.hero-main-text {
  color: #a1f157;
  font-weight: 900;
}

.hero-end-text {
  color: #a1f157;
  font-weight: 250;
}

.hero-btn {
  background-color: #5912e4;
  color: #a1f157;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  line-height: 25px;
}

.hero-svg-icon {
  fill: #a1f157;
}

.hero-btn:hover {
  color: #a1f157 !important;
  background-color: transparent !important;
  outline: solid #a1f157 !important;
  transition: 0.3s ease-in-out !important;
}

.hero-btn:hover .hero-svg-icon {
  fill: #a1f157;
}


@media only screen and (max-width: 540px) {
  .hero-btn {
    margin: 20px 0;
  }
  .hero-header {
    font-size: 35px !important;
    line-height: 30px;
    letter-spacing: -0.4px;
  }
}

@media screen and (max-width: 768px) {
  .custom-hero-padding {
    margin-top: 215px;
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .hero-header {
    font-size: 40px;
    line-height: 40px;
  }
}
