.card-wrapper-color-1 {
  background: linear-gradient(270deg, #5912e4 50%, rgba(89, 18, 228, 0.8) 100%);
}

.card-title-1 {
  color: white;
  font-size: 68px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: -2.5%;
  text-align: left;
}

.card-text-1 {
  color: white;
  font-weight: 300;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
}

.first-btn {
  background-color: #a1f157;
  color: #5912e4;
}

.first-content-svg {
  fill: #5912e4;
}

.first-btn:hover {
  color: #a1f157 !important;
  background-color: #5912e4 !important;
  outline: solid #a1f157 !important;
  transition: 0.3s ease-in-out !important;
}

.first-btn:hover .first-content-svg {
  fill: #a1f157;
  transition: 0.3s ease-in-out;
}

.card-title-2 {
  color: black;
  font-size: 68px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: -2.5%;
  text-align: left;
}

.card-text-2 {
  color: black;
  font-weight: 300;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
}

.second-btn {
  color: #a1f157;
  background-color: #5912e4;
}

.second-content-svg {
  fill: #a1f157;
}

.second-btn:hover {
  color: #5912e4 !important;
  background-color: #a1f157 !important;
  outline: solid #5912e4 !important;
  transition: 0.3s ease-in-out !important;
}

.second-btn:hover .second-content-svg {
  fill: #5912e4;
  transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 992px) {
  .card-wrapper:hover .col-lg-8 {
    width: 40% !important;
  }

  .card-wrapper:hover .col-lg-4 {
    width: 60% !important;
  }

  .card-wrapper:hover .card-text-1 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .card-wrapper:hover .card-text-2 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .card-wrapper .container-fluid {
    overflow: hidden;
    height: 600px;
    position: relative;
    padding: 0;
  }

  .card-wrapper .img-fluid {
    max-height: 600px !important;
    min-height: 600px;
    object-fit: cover;
    width: 100%;
    object-position: center;
  }

  .content-text-wrapper:hover .card-text-1 {
    visibility: visible;
    transition: 0.3s ease-in-out;
  }

  .content-text-wrapper .card-text-1 {
    visibility: hidden;
  }

  .content-text-wrapper .card-text-2 {
    visibility: hidden;
  }

  .content-text-wrapper:hover .card-text-2 {
    visibility: visible;
    transition: 0.3s ease-in-out;
  }

  .first-btn {
    margin-top: -300px;
    margin-left: 50px;
  }

  .content-text-wrapper:hover .first-btn {
    margin-top: 20px;
  }

  .second-btn {
    margin-left: 3rem;
    margin-top: -300px;
  }

  .content-text-wrapper:hover .second-btn {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .content-image {
    max-width: 100%;
    width: 100%;
  }

  .card-title-1 {
    font-size: 40px;
  }

  .card-text-1 {
    font-size: 16px;
  }
  .first-content-card-body {
    padding: 20px;
  }

  .card-title-2 {
    font-size: 40px;
  }

  .card-text-2 {
    font-size: 16px;
  }

  .second-content-card-body {
    padding: 20px;
  }
  .section-one {
    order: 1;
  }
  .section-two {
    order: 2;
  }
  .second-btn {
    margin-top: 0px;
  }
  .content-text-wrapper:hover button {
    margin-top: 0px;
  }
  .first-btn {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
}

.card-wrapper-color-2 {
  background: linear-gradient(
    90deg,
    #a1f157 50%,
    rgba(161, 241, 87, 0.85) 100%
  );
}

@media (min-width: 992px) and (max-width: 1024px) {
  .first-btn {
    margin-top: -45rem;
  }
  .second-btn {
    margin-top: -55rem;
  }
  .card-title-1 {
    font-size: 50px;
    line-height: 60px;
  }
  .card-title-2 {
    font-size: 50px;
    line-height: 60px;
  }
  .p-lg-5 {
    padding: 1rem 3rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .first-btn {
    margin-top: -35rem;
  }
  .second-btn {
    margin-top: -45rem;
  }
  .card-title-1 {
    font-size: 50px;
    line-height: 60px;
  }
  .card-title-2 {
    font-size: 50px;
    line-height: 60px;
  }
  .p-lg-5 {
    padding: 1rem 3rem !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .first-btn {
    margin-top: -35rem;
  }
  .second-btn {
    margin-top: -40rem;
  }
  .card-title-1 {
    font-size: 50px;
    line-height: 60px;
  }
  .card-title-2 {
    font-size: 50px;
    line-height: 60px;
  }
  .p-lg-5 {
    padding: 1rem 3rem !important;
  }
}

@media (max-width: 540px) {
  .card-title-1 {
    font-size: 24px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card-title-2 {
    font-size: 24px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
