.software-hero-main-text {
  font-weight: 700;
  font-size: 50px;
  line-height: 54px;
  letter-spacing: -1.25px;
}

.software-hero-secondary-text {
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
}

.custom-m {
  right: 0%;
  margin-right: 105px;
  margin-top: 105px;
  width: 180px;
  height: 180px;
}

.custom-logo-margin {
  margin-top: 115px;
}

/* Mobile CSS For All Software Components Here */

@media (max-width: 540px) {
  .software-hero-main-text {
    font-size: 24px !important;
    line-height: 30px !important;
  }
  .feature-card-title {
    font-size: 24px !important;
    line-height: 35px !important;
  }
  .feature-card-title-next {
    font-size: 30px !important;
  }
  .custom-m {
    margin-right: 10px;
    width: 100px;
    height: 100px;
  }
  .software-hero-text-wrapper {
    padding: 20px;
  }
  .software-hero-main-text {
    font-size: 30px;
    line-height: 35px;
  }
  .software-hero-secondary-text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 541px) and (max-width: 991px) {
  .software-top {
    top: 50%;
    padding: 0rem 5rem;
  }
  .custom-m {
    margin-right: 20px;
    width: 150px;
    height: 150px;
  }
  .software-hero-text-wrapper {
    padding: 20px;
  }
  .software-hero-main-text {
    font-size: 30px;
    line-height: 35px;
  }
  .software-hero-secondary-text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 576px) {
  .software-top {
    top: 50%;
    padding: 20px 40px;
  }
  .hero-main-img {
    min-height: 500px;
    object-fit: cover;
    width: 100%;
    object-position: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .software-top {
    top: 50%;
    left: 0%;
    padding: 20px 40px;
  }
}

@media screen and (min-width: 992px) {
  .software-top {
    top: 30%;
    left: 7%;
  }
}
