.software-top {
  top: 30%;
}

.software-hero-main-text {
  font-weight: 700;
  font-size: 3.125rem;
}

.software-hero-secondary-text {
  font-weight: 300;
  font-size: 1.375rem;
}

.custom-p {
  padding: 5rem!important;
}

.custom-m {
  margin: 5rem!important;
}

.hero-banner .img-responsive {
  @media screen and (min-width: 1401px) {
    max-width: 100%;
    width: 100%;
  }
}