.software-cta-card-color {
  background-color: #a1f157;
}

.software-cta-title {
  color: #000;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: -1.05px;
}

.software-cta-text-1 {
  font-weight: 900;
  color: #000;
  font-size: 20px;
  line-height: 28px;
}

.software-cta-text-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

@media screen and (max-width: 992px){
  .software-cta-title {
    font-size: 25px;
  }
}
