.service-feature-section-wrapper {
  background: linear-gradient(180deg, #1f2937 12.03%, #111827 100%);
}

.service-feature-section-header {
  font-size: 60px;
  font-weight: 900;
}

.card {
  border-radius: 0;
}

.service-feature-section-card-wrapper {
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to top, #a1f157, rgba(0, 0, 0, 0)) 1 100%;
  background: linear-gradient(
    180deg,
    rgba(89, 18, 228, 0) 15.86%,
    #5912e4 152.07%
  );
}

.service-feature-section-card-title {
  min-height: 170px;
  color: #a1f157;
  font-size: 50px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.25px;
}

.service-feature-section-card-text {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  line-height: 130%;
}

.service-feature-section-card-number {
  text-align: right;
  font-size: 90px;
  font-weight: 900;
  background: linear-gradient(180deg, #8852f2 0%, #5912e4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-feature-section-card-btn {
  background: #a1f157;
  border-radius: 20px;
  padding: 5px 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.service-feature-section-card-svg {
  fill: #5912e4;
}

.service-feature-section-card-wrapper .service-feature-section-card-btn {
  position: absolute;
  right: -4%;
  top: 50%;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  .service-feature-section-card-title {
    font-size: 40px;
    padding: 20px;
  }

  .service-feature-section-card-text {
    font-size: 20px;
  }

  .service-feature-section-card-number {
    font-size: 70px;
  }
}
