.translate-middle-service {
  transform: translate(5%,-85%)!important;
}

.service-card-color {
  background-color: #A1F157;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to top, #5912E4, rgba(0, 0, 0, 0)) 1 100%;
}

.service-hero-card-body-wrapper {
  width: 600px;
}

.service-hero-card-text {
  padding: 5rem 2.5rem;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-align: left;
}

@media screen and (min-width: 1441px) {
  .service-hero-img {
    width: 100%;
  } 
} 