.translate-middle-service {
  transform: translate(-15%,-90%)!important;
}

.service-card-color {
  background-color: #A1F157;
  border-right: 10px solid #5912E4;
}

.service-hero-card-text {
  padding: 5rem 2.5rem;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-align: left;
}