.shared-hero-main-text {
  font-size: 58px;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: -1.45px;
}

.service-card-color {
  background-color: #a1f157;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to top, #5912e4, rgba(0, 0, 0, 0)) 1 100%;
}

.service-hero-card-body-wrapper {
  width: 600px;
  height: auto;
}

.service-hero-card-text {
  padding: 80px 40px;
  color: #000;
  text-align: left;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -1.05px;
}

.service-top {
  top: 30% !important;
}

@media screen and (max-width: 576px) {
  .talent-hero-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  .service-hero-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (max-width: 992px) {
  .shared-hero-main-text {
    font-size: 35px;
    line-height: 35px;
  }
  .service-hero-card-text {
    padding: 20px !important;
    font-size: 24px;
    line-height: 30px;
  }
  .service-hero-card {
    position: relative !important;
  }
  .service-testimonial-text {
    font-size: 20px !important;
    padding: 20px;
  }
  .service-testimonial-bold-text {
    font-size: 30px;
    padding: 20px;
    line-height: 35px;
  }
  .service-card-heading {
    font-size: 30px !important;
    padding: 20px;
  }
  .service-card-section-title {
    font-size: 24px !important;
  }
  .service-card-section-text-size {
    font-size: 16px !important;
  }
  .service-feature-section-header {
    font-size: 30px !important;
    padding: 20px;
  }
  .service-feature-section-card-title {
    font-size: 30px !important;
    text-align: center;
  }
  .service-feature-section-card-text {
    font-size: 20px !important;
  }
  .service-feature-section-card-title {
    min-height: 100px !important;
  }

  .service-feature-section-card-wrapper .service-feature-section-card-btn {
    position: absolute;
    top: 50%;
    right: -2% !important;
    z-index: 2;
  }
}

@media (max-width: 540px) {
  .shared-hero-main-text {
    font-size: 30px !important;
  }
  .service-testimonial-bold-text {
    font-size: 24px !important;
  }
  .service-testimonial-point {
    padding: 5px !important;
  }
  .service-feature-section-card-title {
    font-size: 24px !important;
    text-align: center;
  }
  .service-feature-section-card-text {
    font-size: 16px !important;
  }
  .service-feature-section-card-number {
    font-size: 40px !important;
  }
  .service-feature-section-card-wrapper .service-feature-section-card-btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    right: -3% !important;
  }
}

@media screen and (min-width: 1024px) {
  .service-hero-card {
    margin-right: 100px;
    left: 50% !important;
    bottom: -10% !important;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .service-hero-card {
    width: 600px;
    height: 450px;
    left: 40% !important;
    top: 60% !important;
  }
}
