@media screen and (min-width: 1024px) {
  .talent-hero-card {
    margin-right: 100px;
    left: 50% !important;
    top: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  .talent-hero-card {
    position: relative !important;
    margin-top: 2px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .talent-hero-card {
    width: 600px;
    height: 450px;
    left: 40% !important;
    top: 60% !important;
  }
}

.talent-top {
  top: 30% !important;
}

/* write yesterday */
@media (max-width: 540px) {
  .shared-hero-main-text {
    font-size: 24px;
    padding: 20px;
    line-height: 30px;
  }
  .talent-testimonial-header {
    font-size: 24px;
    padding: 10px;
  }
  .talent-feature-section-header {
    font-size: 24px !important;
    padding: 20px !important;
  }
  .talent-feature-section-card-title-0 {
    font-size: 24px !important;
  }
  .talent-feature-section-card-text-0 {
    font-size: 16px !important;
  }
  .talent-feature-section-card-header {
    font-size: 24px !important;
  }
  .talent-feature-section-card-text {
    font-size: 16px !important;
  }
  .talent-feature-section-card {
    max-height: 250px !important;
  }
  .talent-feature-section-card {
    min-height: 250px !important;
  }

  /* Shared Component */
  .software-cta-text-1 {
    font-size: 16px;
    line-height: 16px;
  }
  .software-cta-text-2 {
    font-size: 16px;
    line-height: 16px;
  }
  .dynamic-content {
    margin: 20px;
  }
  .common-card-image {
    max-height: 300px !important;
  }
}
