.talent-testimonial-header {
  color: #5912e4;
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
}

@media screen and (max-width: 992px) {
  
  .talent-testimonial-header {
    font-size: 30px;
    padding: 0px 20px;
  }
  .service-testimonial-text {
    font-size: 20px;
  }
}