@media screen and (min-width: 1024px) {
  .talent-hero-card {
    margin-right: 100px;
    left: 50% !important;
    bottom: -10% !important;
  }
}

@media screen and (max-width: 768px) {
  .talent-hero-card {
    position: relative !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .talent-hero-card {
    width: 800px;
    height: 550px;
    left: 20% !important;
    bottom: -60% !important;
  }
}
