.talent-feature-section-wrapper {
  background: linear-gradient(180deg, #1f2937 12.03%, #111827 100%);
}

.talent-feature-section-header {
  color: white;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
}

.talent-feature-section-card-title-0 {
  color: #a1f157;
  font-size: 41px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.95px;
}

.talent-feature-section-card-text-0 {
  color: white;
  font-size: 24px;
  font-weight: 300;
  line-height: 133.33%;
}

.talent-feature-section-card {
  height: auto;
}

.talent-feature-section-card-title {
  color: #a1f157;
  font-size: 50px;
  font-weight: 900;
  line-height: 100%;
}

.talent-feature-section-card-text {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
}

.talent-feature-section-card-color-1 {
  background: #aa84f5;
}

.talent-feature-section-card-color-2 {
  background: #763bef;
}

.talent-feature-section-card-color-3 {
  background: #6522ed;
}

.talent-feature-section-card-color-4 {
  background: #5912e4;
}

.talent-feature-section-card-header {
  color: #a1f157;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}

@media  screen and (max-width: 992px) {
  .talent-feature-section-header {
    font-size: 30px;
  }
  .talent-feature-section-card-title-0 {
    font-size: 30px;
    text-align: center;
  }
  .talent-feature-section-card-text-0 {
    font-size: 20px;
    text-align: center;
  }
  .talent-feature-section-card-header {
    font-size: 30px;
  }
}
