.company-background-color {
  background: linear-gradient(180deg, #1f2937 1.43%, #111827 18.84%),
    var(--Gray-900, #111827);
}

#company-hero-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 1284px;
}

.company-hero-header {
  color: white;
  font-size: 58px;
  font-weight: 900;
}

.company-hero-header-two {
  color: #a1f157;
  font-size: 58px;
  font-weight: 900;
}

.company-certification-wrapper {
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
}

.company-team-header {
  color: #a1f157;
  font-size: 58px;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: -1.45px;
}

.company-team-secondary-header {
  color: #5912e4;
  font-size: 60px;
  font-weight: 900;
  line-height: 159.905px;
  letter-spacing: -3.55px;
}

.company-card {
  background: #111827;
}

.company-card:hover {
  background: linear-gradient(180deg, #1f2937 1.43%, #111827 18.84%),
    var(--Gray-900, #111827);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.linkedin-btn {
  filter: brightness(100%) !important;
}

.company-card-thumbnail:hover {
  filter: brightness(1);
}

.company-card-title {
  color: #4b5563;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.4px;
}

.company-designation {
  color: #4b5563;
  font-size: 18px;
  font-weight: 500;
  line-height: 38px;
}

.company-card-btn {
  color: #a1f157;
}

.company-card-btn:hover {
  color: #a1f157;
  transform: scale(1.1);
}

.company-card-detail {
  color: #f3f4f6;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}

.card:hover {
  .company-card-title {
    color: white;
  }
  .company-designation {
    color: white;
  }
}

.card-hover-text {
  display: none;
}

.card:hover .card-hover-text {
  display: block;
}

.company-card-thumbnail {
  display: none;
}

.card:hover .company-card-thumbnail {
  display: block;
}

.card:hover .company-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.company-hero-margin {
  margin-top: 215px;
}

.company-hero-margin-two {
  margin-top: 215px;
}

.company-content-margin {
  margin-top: -30%;
}

@media (max-width: 540px) {
  .company-hero-header {
    font-size: 30px;
    padding: 0px 20px;
  }
  .company-hero-header-two {
    font-size: 30px;
    padding: 0px 20px;
  }

  .company-team-header {
    font-size: 30px;
    padding: 0px 20px;
  }

  .company-team-secondary-header {
    font-size: 50px;
    text-align: center;
    padding: 20px 0px;
    line-height: 50px;
  }
  #company-hero-img {
    height: 400px;
  }
  .company-hero-margin {
    margin-top: 150px;
  }
  .company-hero-margin-two {
    margin-top: 60px;
  }
  .company-content-margin {
    margin-top: 0;
  }
  #company-hero-img {
    height: 400px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .company-team-header {
    font-size: 40px;
  }
  .company-team-secondary-header {
    font-size: 40px;
    line-height: 90px;
    letter-spacing: 0.45px;
    text-align: center;
  }
  .company-card-title {
    font-size: 24px;
  }
  .img-thumbnail {
    object-fit: cover;
    object-position: center;
  }
  .company-content-margin {
    margin-top: -30%;
  }
  #company-hero-img {
    height: 500px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* .custom-hero-padding-1 {
    padding-top: 10%;
    padding-bottom: 10%;
  } */
  #company-hero-img {
    height: 600px;
  }
  .company-hero-margin-two {
    margin-top: 60px;
  }
  .company-content-margin {
    margin-top: 0;
  }
}

@media screen and (min-width: 2000px) {
  .company-content-margin {
    margin-top: -20%;
  }
}
