.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.dropdown-toggle::after {
  display: none;
}

.collapsing {
  background-color: #111827;
}

.show {
  background-color: #111827;
}

.navbar-expand-lg .nav-link {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.5px;
  color: white !important;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-brand {
  margin-left: 5rem;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000 !important;
}

.nav-link:hover {
  color: #a1f157 !important;
  transform: scale(1.1);
}

.dropdown-menu {
  border-bottom: 4px solid #a1f157;
}

.dropdown-heading {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.4px;
}

.card {
  border: none;
}

.subMenuItems {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1.8px;
  color: black;
  text-decoration: none;
  padding-bottom: 30px;
}

.subMenuItems:hover {
  transition: all 500ms ease-in-out;
  transform: translate(10px, 0);
  color: #5912e4;
}

.megamenu-sidebar {
  background-color: #f3f4f6;
}

.card-title-size {
  color: #5912e4;
  font-weight: 300;
  font-size: 32px;
}

.my-card-text {
  font-weight: 300;
  font-size: 1.25rem;
  color: black;
  margin: 20px 0px;
}

.mega-header-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #a1f157;
  color: #5912e4;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.mega-header-btn:hover {
  color: #5912e4;
  background-color: transparent;
  outline: solid #5912e4;
  transition: 0.3s ease-in-out;
}

.navbar.sticky {
  position: sticky !important;
  top: 0;
  z-index: 100000 !important;
  background-color: #111827; /* Adjust background color as needed */
  width: 100%;
}

.dropdown-card-padding {
  padding-left: 105px;
  padding-top: 50px;
}

.card-dropdown-margin {
  padding-right: 30px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.megamenu-sidebar-common-padding {
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.blog-image {
  margin-top: 50px;
}

.dropdown-card-margin {
  margin-top: 24px;
}

.dropdown-blog {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.6px;
  color: #6b7280;
}

.dropdown-blog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.4px;
  color: black;
  text-wrap: nowrap;
}

.megamenu-sidebar-padding {
  padding-left: 105px;
  padding-right: 105px;
}

.megamenu-sidebar-btn-top-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 540px) {
  .navbar-brand {
    margin-left: 0rem !important;
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .navbar-brand {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 768px) {
  .megamenu-sidebar {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  .navbar-nav {
    gap: 15px;
  }
  .navbar-brand {
    margin-left: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-nav {
    gap: 30px;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    text-align: end;
    padding: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    top: 70%;
    left: 50%;
    transition: max-height 0.45s ease-out;
    transform: translate(-50%, 0%);
  }
  .dropdown-menu .show {
    display: flex;
  }
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .navbar-nav {
    gap: 5px;
  }
  .navbar-brand {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1119px) {
  .navbar-brand {
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .navbar-brand {
    margin-left: 5.5rem;
  }
  .navbar-nav {
    gap: 5px;
  }
}

@media screen and (min-width: 1400px) {
  .navbar-brand {
    margin-left: 105px;
  }
  .navbar-nav {
    gap: 40px;
  }
}
