.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}

.dropdown-toggle::after {
  display:none;
}

.navbar-expand-lg .nav-link {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.5px;
  color: white !important;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-brand {
  margin-left: 5rem;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000 !important;
}

.nav-link:hover {
  color: #a1f157 !important;
  transform: scale(1.1);
}

.dropdown-menu {
  border-bottom: 4px solid #a1f157;
}

.dropdown-heading {
  font-weight: 300;
  font-size: 2rem;
}

.card {
  border: none;
}

.subMenuItems {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1.8px;
  color: black;
  text-decoration: none;
}

.subMenuItems:hover {
  transition: all 500ms ease-in-out;
  transform: translate(10px,0);
  color: #5912e4;
}

.megamenu-sidebar {
  background-color: #f3f4f6;
}

.card-title-size {
  color: #5912e4;
  font-weight: 300;
  font-size: 1.5rem;
}

.my-card-text {
  font-weight: 300;
  font-size: 1.25rem;
  color: black;
}

.mega-header-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #a1f157;
  color: #5912e4;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.mega-header-btn:hover {
  color: #5912e4;
  background-color: transparent;
  outline: solid #5912e4;
  transition: 0.3s ease-in-out;
}

.navbar.sticky {
  position: sticky !important;
  top: 0;
  z-index: 100000 !important;
  background-color: #111827; /* Adjust background color as needed */
  width: 100%;
}


@media only screen and (max-width: 767px) {
  .megamenu-sidebar {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  .navbar-nav {
    gap: 30px;
  }
}

@media screen and (max-width: 992px){
  .navbar-nav {
    text-align: end;
    padding: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    top: 70%;
    left: 50%;
    /* transition: all 500ms ease-in-out; 
    transition-delay: 250ms; */
    transition: max-height .45s ease-out;
    transform: translate(-50%, 0%);
  }
  .dropdown-menu .show {
    display: flex;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav {
    gap: 5px;
  }
}