.contact-us-header {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--purple-color);
}

.contact-us-info {
  font-size: 1.5rem;
}

.job-card-btn-two {
  color: var(--purple-color);
  background-color: rgba(161, 241, 87, 1);
}

.job-card-btn-two:hover {
  transition: 0.3s all ease-in-out;
  color: var(--green-color);
  outline: 1.5px solid var(--green-color);
}

@media screen and (max-width: 992px) {
  .contact-us-header {
    font-size: 2rem;
  }
}