.social-icon-container {
  background-color: #f3f4f6;
  height: 50px;
}

.social-icon-img {
  margin-top: -1.5rem;
}

.blog-image-side-text {
  font-weight: 250;
  font-size: 38px;
  line-height: 46px;
  color: #9ca3af;
  align-items: center;
  justify-content: center;
  display: flex;
}

.blog-paragraph {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  padding-left: 315px;
  padding-right: 315px;
  color: black;
}

.blog-paragraph-title {
  padding-left: 315px;
  padding-right: 315px;
  color: #6522ed;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: -2.5%;
}
