@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap");

:root {
  --purple-color: #5912e4;
  --white-color: #ffffff;
  --black-color: #000000;
  --green-color: #a1f157;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.square:before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}
.square:hover:before {
  height: 100%;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.4px;
  border-radius: 20px;
  text-transform: uppercase;
}

.custom-card-title {
  color: white;
  font-weight: 900;
  font-size: 58px;
  text-align: left;
  line-height: 54px;
  letter-spacing: -1.45px;
}

.margin-code {
  padding-left: 105px;
  padding-right: 105px;
}

@media screen and (max-width: 540px) {
  .margin-code {
    padding-left: 0px;
    padding-right: 0px;
  }
  .custom-card-title {
    font-size: 30px !important;
    line-height: 30px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .margin-code {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .margin-code {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .custom-card-title {
    font-size: 48px;
  }
}
