@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap");

body {
  font-family: "Hanken Grotesk", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img:hover{
  filter: brightness(50%);
  transition: all 0.5s ease-out;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.4px;
  border-radius: 20px;
  text-transform: uppercase;
}

.custom-card-title{
  color: white;
  font-weight: 900;
  font-size: 58px;
  text-align: left;
  line-height: 54px;
  letter-spacing: -1.45px;
}

@media screen and (max-width: 991px){
  .custom-card-title{
    font-size: 40px;
    line-height: 45px;
  }
}

